<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSMinimumSystemVersion</key>
	<string>13.0.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>${DISPLAY_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4.8</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>armony</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>106</string>
	<key>Config</key>
	<dict>
		<key>ADJUST_TOKEN</key>
		<string>${ADJUST_TOKEN}</string>
		<key>MIXPANEL_TOKEN</key>
		<string>${MIXPANEL_TOKEN}</string>
		<key>API_HOST</key>
		<string>$(API_HOST)</string>
		<key>API_SCHEME</key>
		<string>$(API_SCHEME)</string>
		<key>ENVIRONMENT</key>
		<string>$(CONFIGURATION)</string>
	</dict>
	<key>FacebookAppID</key>
	<string>${FACEBOOK_APP_ID}</string>
	<key>FacebookClientToken</key>
	<string>${FACEBOOK_CLIENT_TOKEN}</string>
	<key>FacebookDisplayName</key>
	<string>Armony App</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>forte-stg.herokuapp.com</key>
			<string></string>
		</dict>
	</dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>NSPhotoLibraryUsageDescription</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>NSUserTrackingUsageDescription</string>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
